body {
    color: #800202;
    /* background: #232323; */
    background: black;
    font: 100% system-ui;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    /* border: 3px solid rgb(80, 33, 80); */
    background-color: rgba(46, 83, 102, 0.247);
  }
  nav div {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid rgb(80, 33, 80);
    /* border-left: 1px solid rgb(80, 33, 80); */
  }
  nav h2:hover{
    color: rgb(35, 63, 105);
    cursor: pointer;
  }
  h1 {
    color: #800202;
  }
